.icon{
	font-size:4vw;
}

button{
	margin-top:100px;
	margin-bottom:5vw;
}

label{
	font-size: 5vw;
	font-weight:bold;
	color:blue;
	font-family: "Noto Sans Thai", sans-serif;
	margin-top:2vw;
}


textarea {
float:left;
	font-size: 5vw;
  	width:100%;
        padding: 10px 10px; 
    font-family: "Noto Sans Thai", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
margin-bottom:1vw;
}

textarea::placeholder {
  font-size: 8vw;
  position: relative;
  top: -15px;
  color: #8696a0;
  opacity: 1; 
	
}

textarea#data3, #t1 {
	width:100%;
	max-width:100%;
	font:18px;
	transition:box-shadow 0.5s ease;
	box-shadow:0 4px 6px rgba(0,0,0,0.1);}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 8vw;
  cursor: pointer;
  border-radius:2vw;
}


.btn:hover {
  background-color: darkgrey;/* RoyalBlue; */
}

.fa-clone{
 font-size:8vw;!important;
}
.fa-clone:hover{
   color:RoyalBlue!important;
}



body{
  /*  font-family: 'Droid Serif', serif; */
    font-family: "Noto Sans Thai", sans-serif;

    font-size: 2vw;
    color: #2f2f2f;
    background-color: #f6f6f6;/* #f9f7f1; */
    overflow-x: hidden;
}
header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 15vw;/* 80px; */
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;

}
p{
    margin-top: 0;
    margin-bottom: 20px;

}
.head{
    text-align: center;
    position: relative;

}

.headerobjectswrapper{
}

.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;
    font-size:8vw;	

}
.weatherforcastbox{
    position: relative;
    width: 12%;
    left: 10px;
    border: 3px double #2f2f2f;
    padding: 10px 15px 10px 15px;
    line-height: 20px;
    display: inline-block;
    margin: 0 50px 20px -360px;
}
.content{
    font-size: 0;
    line-height: 0;
    word-spacing: -.31em;
    display: inline-block;
    margin: 30px 2% 0 2%;
    width:98%;	


}
.collumns{

}

.collumn{
    font-size: 8vw;
    line-height: 10vw;
    width: 100%;
    display: inline-block; 
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 50px;
    transition: all .7s;
}
/*
.collumn + .collumn { 
  border-left: 1px solid #2f2f2f;
}
*/
.collumn .headline{
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;


}
.collumn .headline.hl1{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;

}

.collumn .headline.hl2{
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl2:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.collumn .headline.hl2:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 13px;
    display: block;
    margin: 0 auto;

}

.collumn .headline.hl3{
    font-weight: 400;
    font-style: italic;
    font-size: 8vw;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl3a{
    font-weight: 400;
    font-style: italic;
    font-size: 6vw;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

/* TECHNICAL DOCUMENT */
.collumn .headline.hl3b{
    text-align: left;
    position: relative;
    font-weight: 400;
    font-style: regular;
    font-size: 7vw;
    box-sizing: border-box;
    padding: 5px 0 10px 5vw;
}

.collumn .headline.hl4{
    font-weight: 700;
    font-size: 2vw;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
